<script>
  import Nav from "./_components/Nav.svelte";
  import Variables from "../components/Variables.svelte";
  import YandexMetrika from "./_components/YandexMetrika.svelte";
  export let segment;

  $: activeRoute =
    $$props.$$scope &&
    $$props.$$scope.ctx &&
    $$props.$$scope.ctx.level1 &&
    $$props.$$scope.ctx.level1.segment;
</script>

<Nav {segment} {activeRoute} />

<main>
  <slot />
</main>
<Variables />
<YandexMetrika />

<style>
  :global(#sapper) {
    display: flex;
    max-height: 100vh;
  }
  :global(body) {
    background: white;
    height: 100%;
  }
  main {
    overflow: auto;
    flex-grow: 1;
    padding: 16px;
  }
</style>
