<script>
  import Typography from "../components/Typography.svelte";
  import Button from "../components/Button.svelte";
  import Spacer from "../components/Spacer.svelte";
  import Example from "./_components/Example.svelte";
</script>

<Typography block type="headline">Svelte Atoms</Typography>
<Spacer size={8} />
<Typography block>
  This UI library for svelte, based on
  <Typography type="link">
    <a href="http://atol.ru/">Atol</a>
  </Typography>
  design.
</Typography>
<Typography block>
  Library in active development, please create an issue for any found bug.
</Typography>
<Typography type="link">
  <a href="https://gitlab.com/az67128/svelte-atoms">Gitlab repository</a>
</Typography>
<Spacer size={32} />

<Typography block type="headline">Usage</Typography>
<Spacer size={8} />
<Example code={`npm i svelte-atoms`}>
  <Typography>Intall package</Typography>
</Example>
<Example
  code={`${'<'}script>
  import Variables from "svelte-atoms/Variables.svelte";
</script>

<Variables>
`}>
  <Typography>Import variables set</Typography>
</Example>
<Example
  code={`${'<'}script>
  import Button from "svelte-atoms/Button.svelte";
</script>

<Button iconLeft='favorite-fill' >Enjoy!</Button>
`}>
  <Button iconLeft="favorite-fill">Enjoy!</Button>
</Example>
<Spacer size={32} />

<Typography block type="headline">Features</Typography>
<Typography block>
  All components supports class prop. String will be added to component classes
  list.
</Typography>
