<script>
  import icons from "./icons";

  export let icon = "";
  export let size = 24;
  export let status = "primary";
  export let type = "flat";
</script>

<svg width={size} height={size} viewBox="0 0 22 22" class={`aa-iconStatus ${$$props.class||''}`} style={$$props.style||''}>
     <circle cx={11} cy={11} r={10} class={`${status} ${type}`} stroke-width="2"/>
    <g transform="translate(4.5,4.5) scale(0.8)" class={`icon ${type}`}>
  <svelte:component this={icons[icon.toLowerCase()]}/>
  </g>
</svg>

<style>
  circle {
    fill: none;
  }
  .icon.flat {
    fill: var(--palette-main-1);
  }
  .icon.filled {
    fill: var(--palette-white);
  }
  .primary {
    stroke: var(--palette-primary-1);
  }
  .positive {
    stroke: var(--palette-positive-1);
  }
  .negative {
    stroke: var(--palette-negative-1);
  }
  .disabled {
    stroke: var(--palette-main-1);
  }
  .noactive {
    stroke: var(--palette-noactive-3);
  }
  .warning {
    stroke: var(--palette-warning-1);
  }
  .primary.filled {
    fill: var(--palette-primary-1);
  }
  .positive.filled {
    fill: var(--palette-positive-1);
  }
  .negative.filled {
    fill: var(--palette-negative-1);
  }

  .disabled.filled {
    fill: var(--palette-main-1);
  }
  .noactive.filled {
    fill: var(--palette-noactive-3);
  }
  .warning.filled {
    fill: var(--palette-warning-1);
  }
</style>