<script>
  import icons from "./icons";

  export let icon = "";
  export let size = 16;
  export let status = "";
</script>

<svg width={size} height={size} viewBox="0 0 16 16" class={`aa-icon ${status} ${$$props.class||''}`} style={$$props.style||''} >
  <svelte:component this={icons[icon.toLowerCase()]} />
</svg>

<style>
  .aa-icon {
    fill: var(--palette-main-1);
  }
  .aa-icon.primary {
    fill: var(--palette-primary-1);
  }
  .aa-icon.positive {
    fill: var(--palette-positive-1);
  }
  .aa-icon.negative {
    fill: var(--palette-negative-1);
  }
  .aa-icon.white {
    fill: var(--palette-white);
  }
  .aa-icon.disabled {
    fill: var(--palette-main-1);
  }
  .aa-icon.noactive {
    fill: var(--palette-noactive-3);
  }
</style>