<script>
  import { onMount } from "svelte";
  import { slide } from "svelte/transition";
  import IconButton from "./IconButton.svelte";
  import { createEventDispatcher } from "svelte";

  export let notifications = [];
  export let delay = 4000;
  export let type = "dark";

  const dispatch = createEventDispatcher();

  let containerRef;
  onMount(() => {
    document.body.appendChild(containerRef);
    return () => document.body.removeChild(containerRef);
  });

  const close = id => {
    notifications = notifications.filter(item => item.id !== id);
  };
  const autoClose = (node, id) => {
    const timer = setTimeout(() => close(id), delay);
    return {
      destroy() {
        clearTimeout(timer);
      }
    };
  };
</script>

<div>
  <div
    bind:this={containerRef}
    class="container"
    class:light={type === 'light'}>
    {#each notifications as notification, i (notification.id)}
      <div
        class={`aa-notification ${$$props.class || ''}`}
        transition:slide|local
        use:autoClose={notification.id}
        on:outroend={() => dispatch('close', notification.id)}>
        <div class="text">{notification.text}</div>
        <IconButton
          icon="close"
          status="noactive"
          on:click={() => close(notification.id)} />
      </div>
    {/each}
  </div>
</div>

<style>
  .container {
    position: fixed;
    top: 0;
    right: 16px;
    width: 448px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 3px 3px 18px 0 rgba(54, 71, 79, 0.2);
    background-color: var(--palette-main-1);
    color: var(--palette-white);
    overflow: hidden;
  }
  .aa-notification {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    padding: 8px 16px 8px 16px;
    font-family: var(--preferred-font);
    font-size: 16px;
    line-height: 1.5;
    margin-top: -8px;
  }
  .text {
    padding-right: 8px;
  }
  .light {
    box-shadow: 3px 3px 18px 0 rgba(54, 71, 79, 0.2);
    background-color: var(--palette-white);
    color: var(--palette-main-1);
  }
  @media (max-width: 680px) {
    .container {
      width: 100%;
      right: 0px;
    }
  }
</style>
