<script context="module">
  import Prism from "prismjs";
</script>

<script>
  import { onMount } from "svelte";
  export let code = "";
  export let column = false;
  let codeRef;
  onMount(() => {
    const html = Prism.highlight(code, Prism.languages.html, "html");
    codeRef.innerHTML = html;
  });
</script>

<div class="example" class:column>
  <div class="component">
    <slot />
  </div>
  <pre class="code" bind:this={codeRef} />
</div>

<style>
  .example {
    display: flex;
    width: 100%;
    border: 1px solid var(--palette-noactive-6);
    border-radius: 8px;
    margin-bottom: 16px;
    /* box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12); */
  }
  .column {
    flex-direction: column;
  }
  .column .component {
    width: auto;
  }
  .column .code {
    width: auto;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .component {
    width: 50%;
    padding: 16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #f7f7f7;
  }
  .code {
    width: 50%;
    font-size: 12px;
    background: #f5f2f0;
    padding: 16px;
    margin: 0px;
    
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
</style>
