<script>
  import Color from "../_components/Color.svelte";
  import DemoPage from "../_components/DemoPage.svelte";
  const colors = [
    {
      name: "Основной цвет текста",
      hex: "#36474F",
      var: "--palette-main-1"
    },
    {
      name: "80%",
      hex: "#5c6a70",
      var: "--palette-main-2"
    },
    {
      name: "60%",
      hex: "#828d91",
      var: "--palette-noactive-1"
    },
    {
      name: "50%",
      hex: "#9aa3a7",
      var: "--palette-noactive-3"
    },
    {
      name: "40%",
      hex: "#afb5b9",
      var: "--palette-noactive-4"
    },
    {
      name: "20%",
      hex: "#d7dadc",
      var: "--palette-noactive-5"
    },
    {
      name: "10%",
      hex: "#eaeced",
      var: "--palette-noactive-6"
    },
    {
      name: "5% (background)",
      hex: "#f6f6f7",
      var: "--palette-main-3"
    },
    {
      name: "Цвет неактивных блоков",
      hex: "#fafafa",
      var: "--palette-noactive-8"
    },
    {
      name: "Разделительный цвет",
      hex: "#f8f9fa",
      var: "--pallete-main-4"
    },
    {
      name: "Белый",
      hex: "#fff",
      var: "--palette-white"
    },
    {
      name: "dark",
      hex: "#18649f",
      var: "--palette-primary-3"
    },
    {
      name: "hover",
      hex: "#257dc4",
      var: "--palette-primary-2"
    },
    {
      name: " Основной цвет кликабельных обьектов",
      hex: "#358ed7",
      var: "--palette-primary-1"
    },
    {
      name: "80%",
      hex: "#5da5df",
      var: "--palette-primary-4"
    },
    {
      name: "60%",
      hex: "#86bbe7",
      var: "--palette-primary-5"
    },
    {
      name: "35%",
      hex: "#b9d8f1",
      var: "--palette-primary-6"
    },
    {
      name: "20%",
      hex: "#d7e8f7",
      var: "--palette-primary-7"
    },
    {
      name: "dark",
      hex: "#9b0001",
      var: "--palette-negative-3"
    },
    {
      name: "hover",
      hex: "#d50115",
      var: "--palette-negative-2"
    },
    {
      name: "Основной отрицательный цвет",
      hex: "#f01526",
      var: "--palette-negative-1"
    },
    {
      name: "40%",
      hex: "#f9a1a8",
      var: "--palette-negative-4"
    },
    {
      name: "30%",
      hex: "#fab8bd",
      var: "--palette-negative-5"
    },
    {
      name: "5%",
      hex: "#fef3f4",
      var: "--palette-negative-6"
    },
    {
      name: "dark",
      hex: "#66b101",
      var: "--palette-positive-3"
    },
    {
      name: "hover",
      hex: "#71c101",
      var: "--palette-positive-2"
    },
    {
      name: "Основной положительный цвет",
      hex: "#7ed321",
      var: "--palette-positive-1"
    },
    {
      name: "60%",
      hex: "#b2e47a",
      var: "--palette-positive-4"
    },
    {
      name: "20%",
      hex: "#e5f6d3",
      var: "--palette-positive-5"
    },
    {
      name: "Основной цвет предупреждения",
      hex: "#f8c51c",
      var: "--palette-warning-1"
    },
    {
      name: "Дополнительный цвет предупреждения",
      hex: "#ffc000",
      var: "--palette-warning-2"
    }
  ];
</script>

<DemoPage name="Colors">
  {#each colors as color}
    <Color {color} />
  {/each}
</DemoPage>
