<script>
  import ContainerLoader from "../../components/ContainerLoader.svelte";
  import Spacer from "../../components/Spacer.svelte";
  import Button from "../../components/Button.svelte";
  import Example from "../_components/Example.svelte";
  import DemoPage from "../_components/DemoPage.svelte";

  const props = {
    isLoading: {
      type: "boolean"
    },
    title: {
      type: "string"
    }
  };

  let isLoading = true;
  const toggle = () => (isLoading = !isLoading);
</script>

<DemoPage name="ContainerLoader" {props}>

  <Example
    code={`${'<'}script>
  import ContainerLoader from "svelte-atoms/ContainerLoader.svelte";
  import Button from "svelte-atoms/Button.svelte";
  let isLoading = true;
  const toggle = () => (isLoading = !isLoading)
</script>

<Button on:click={toggle}>Toggle</Button>
<ContainerLoader {isLoading}>
  Siberia is an extensive geographical region spanning much of Eurasia and
  North Asia. Siberia has historically been a part of modern Russia since
  the 17th century. The territory of Siberia extends eastwards from the Ural
  Mountains to the watershed between the Pacific and Arctic drainage basins.
  The Yenisei River conditionally divides Siberia into two parts, Western
  and Eastern. Siberia stretches southwards from the Arctic Ocean to the
  hills of north-central Kazakhstan and to the national borders of Mongolia
  and China.
</ContainerLoader>
`}>
    <Button on:click={toggle}>Toggle</Button>
    <Spacer />
    <ContainerLoader {isLoading}>
      Siberia is an extensive geographical region spanning much of Eurasia and
      North Asia. Siberia has historically been a part of modern Russia since
      the 17th century. The territory of Siberia extends eastwards from the Ural
      Mountains to the watershed between the Pacific and Arctic drainage basins.
      The Yenisei River conditionally divides Siberia into two parts, Western
      and Eastern. Siberia stretches southwards from the Arctic Ocean to the
      hills of north-central Kazakhstan and to the national borders of Mongolia
      and China.
    </ContainerLoader>
  </Example>
</DemoPage>
