<script>
  import Icon from "../../components/Icon.svelte";
  import Spacer from "../../components/Spacer.svelte";
  import icons from "../../components/icons";
  import DemoPage from "../_components/DemoPage.svelte";
  import Example from "../_components/Example.svelte";
  let isActive = true;
  const props = {
    icon: {
      type: "string"
    },
    size: {
      type: "number"
    },
    status: {
      type: "enum",
      options: "primary, positive, negative, white, disabled, noactive"
    }
  };
</script>

<DemoPage name="Icon" {props}>
  <Example
    code={`${'<'}script>
  import Icon from "svelte-atoms/Icon.svelte";
</script>

<Icon icon="favorite" />
<Icon icon="favorite" size={24} /> With size
<Icon icon="favorite" status="primary" /> Primary
<Icon icon="favorite" status="positive" /> Positive
<Icon icon="favorite" status="negative" /> Negative
<Icon icon="favorite" status="disabled" /> Disabled
<Icon icon="favorite" status="noactive" /> Noactive
<Icon icon="favorite" status="white" /> White
`}>
    <Icon icon="favorite" />
    <Spacer />
    <Icon icon="favorite" size={24} />
    With size
    <Spacer />
    <Icon icon="favorite" status="primary" />
    Primary
    <Spacer />
    <Icon icon="favorite" status="positive" />
    Positive
    <Spacer />
    <Icon icon="favorite" status="negative" />
    Negative
    <Spacer />
    <Icon icon="favorite" status="disabled" />
    Disabled
    <Spacer />
    <Icon icon="favorite" status="noactive" />
    Noactive
    <Spacer />
    <Icon icon="favorite" status="white" />
    White
  </Example>

  {#each Object.keys(icons) as key}
    <div>
      <Icon icon={key} />
      {key}
    </div>
  {/each}
</DemoPage>
