<script>
  import Notifications from "../../components/Notifications.svelte";
  import Example from "../_components/Example.svelte";
  import Button from "../../components/Button.svelte";
  import DemoPage from "../_components/DemoPage.svelte";
  const props = {
    notifications: {
      type: "array of shape {id:any, text:string}"
    },
    delay: {
      type: "number"
    },
    type: {
      type: "enum",
      options: "dark, light"
    }
  };
  const texts = [
    "1154 – Henry II was crowned king of England in Westminster Abbey, London.",
    "1941 – Second World War: six Italian Royal Navy divers on manned torpedoes detonated limpet mines, disabling four vessels, including two Royal Navy battleships.",
    "1984 – China and the United Kingdom signed the Sino-British Joint Declaration, agreeing to the transfer of sovereignty of Hong Kong to China on 1 July 1997.",
    "2013 – The European Space Agency's Gaia space observatory was launched, with the goal of constructing the largest and most precise star catalogue ever made."
  ];
  let notifications = [
    {
      id: 1,
      text: texts[0]
    }
  ];
  const addNotifiocation = () => {
    notifications = [
      ...notifications,
      {
        id: Math.random(),
        text: texts[Math.floor(Math.random() * texts.length)]
      }
    ];
  };
</script>

<DemoPage name="Notifications" {props}>
  <Example
    code={`${'<'}script>
  import Button from "svelte-atoms/Button.svelte";
  import Notifications from "svelte-atoms/Notifications.svelte";
  const texts = [
    "1154 – Henry II was crowned king of England in Westminster Abbey, London.",
    "1941 – Second World War: six Italian Royal Navy divers on manned torpedoes detonated limpet mines, disabling four vessels, including two Royal Navy battleships.",
    "1984 – China and the United Kingdom signed the Sino-British Joint Declaration, agreeing to the transfer of sovereignty of Hong Kong to China on 1 July 1997.",
    "2013 – The European Space Agency's Gaia space observatory was launched, with the goal of constructing the largest and most precise star catalogue ever made."
  ];
  let notifications = [{id: 1, text: texts[0]}];
  const addNotifiocation = () => {
    notifications = [...notifications,{ 
        id: Math.random(),
        text: texts[Math.floor(Math.random() * texts.length)]
      }];
  };
</script>

<Button on:click={addNotifiocation}>Add</Button>
<Notifications bind:notifications />
`}>
    <Button on:click={addNotifiocation}>Add</Button>
    <Notifications bind:notifications />
  </Example>

</DemoPage>
