<script>
  import Table from "../../components/Table/Table.svelte";
  import Tbody from "../../components/Table/Tbody.svelte";
  import Thead from "../../components/Table/Thead.svelte";
  import DemoPage from "../_components/DemoPage.svelte";
  import Example from "../_components/Example.svelte";
  const props = {
    rowPadding: { type: "number" },
    slot: { type: "slot" }
  };
</script>

<DemoPage name="Table" {props}>
  <Example
    code={`${'<'}script>
  import Table from "svelte-atoms/Table.svelte";
  import Tbody from "svelte-atoms/Tbody.svelte";
  import Thead from "svelte-atoms/Thead.svelte";
</script>

<Table>
  <Thead>
    <tr>
      <th>header1</th>
      <th>header2</th>
    </tr>
  </Thead>
  <Tbody>
    <tr>
      <td>cell1</td>
      <td>cell2</td>
    </tr>
    <tr>
      <td>cell1</td>
      <td>cell2</td>
    </tr>
  </Tbody>
</Table>
`}>
    <Table>
      <Thead>
        <tr>
          <th>header1</th>
          <th>header2</th>
        </tr>
      </Thead>
      <Tbody>
        <tr>
          <td>cell1</td>
          <td>cell2</td>
        </tr>
        <tr>
          <td>cell1</td>
          <td>cell2</td>
        </tr>
      </Tbody>
    </Table>
  </Example>

  <Example
    code={`${'<'}script>
  import Table from "svelte-atoms/Table.svelte";
  import Tbody from "svelte-atoms/Tbody.svelte";
  import Thead from "svelte-atoms/Thead.svelte";
</script>

<Table rowPadding={10}>
  <Thead>
    <tr>
      <th>header1</th>
      <th>header2</th>
    </tr>
  </Thead>
  <Tbody>
    <tr>
      <td>cell1</td>
      <td>cell2</td>
    </tr>
    <tr>
      <td>cell1</td>
      <td>cell2</td>
    </tr>
  </Tbody>
</Table>
`}>
    <Table rowPadding={10}>
      <Thead>
        <tr>
          <th>header1</th>
          <th>header2</th>
        </tr>
      </Thead>
      <Tbody>
        <tr>
          <td>cell1</td>
          <td>cell2</td>
        </tr>
        <tr>
          <td>cell1</td>
          <td>cell2</td>
        </tr>
      </Tbody>
    </Table>
  </Example>

</DemoPage>
