<script>
  import Tooltip from "../../components/Tooltip.svelte";
  import Button from "../../components/Button.svelte";
  import IconStatus from "../../components/IconStatus.svelte";
  import DemoPage from "../_components/DemoPage.svelte";
  import Example from "../_components/Example.svelte";
  const props = {
    text: {
      type: "string"
    },
    html: {
      type: "string"
    },
    delay: {
      type: "number"
    }
  };
</script>

<DemoPage name="Tooltip" {props}>
  <Example
    code={`${'<'}script>
  import Tooltip from "svelte-atoms/Tooltip.svelte";
  import IconStatus from "svelte-atoms/IconStatus.svelte";
</script>

<Tooltip text="Tolltip text">
  <IconStatus status="warning" icon="attention"/>
</Tooltip>
`}>
    <Tooltip text="Tolltip text">
      <IconStatus status="warning" icon="question" />
    </Tooltip>
  </Example>

  <Example
    code={`${'<'}script>
  import Tooltip from "svelte-atoms/Tooltip.svelte";
  import IconStatus from "svelte-atoms/IconStatus.svelte";
</script>

<Tooltip html="<ul><li>Item 1</li><li>Item 2</li></ul>">
  <IconStatus status="warning" icon="question" />
</Tooltip>
`}>
    <Tooltip html="<ul><li>Item 1</li><li>Item 2</li></ul>">
      <IconStatus status="warning" icon="question" />
    </Tooltip>
  </Example>

  <Example
    code={`${'<'}script>
  import Tooltip from "svelte-atoms/Tooltip.svelte";
  import IconStatus from "svelte-atoms/IconStatus.svelte";
</script>

<Tooltip text="Tolltip text" delay={0}>
  <IconStatus status="warning" icon="attention"/>
</Tooltip>
`}>
    <Tooltip text="Tolltip text" delay={0}>
      <IconStatus status="warning" icon="question" />
    </Tooltip>
  </Example>
</DemoPage>
