<g fill-rule="nonzero">
	<path d="M8.597 7.539c.78.766.78 2.005 0 2.77l-2.354 2.314c-.784.77-2.057.77-2.84 0a1.934 1.934 0 0 1 0-2.77.894.894 0 0 0 .005-1.274.916.916 0 0 0-1.286-.005 3.72 3.72 0 0 0 0 5.326 3.866 3.866 0 0 0 5.401 0l2.355-2.313a3.72 3.72 0 0 0 0-5.326.916.916 0 0 0-1.286.005.894.894 0 0 0 .005 1.273z" />
	<path d="M7.403 8.461a1.934 1.934 0 0 1 0-2.77l2.354-2.314a2.035 2.035 0 0 1 2.84 0c.78.766.78 2.005 0 2.77a.894.894 0 0 0-.005 1.274.916.916 0 0 0 1.286.005 3.72 3.72 0 0 0 0-5.326 3.866 3.866 0 0 0-5.401 0L6.122 4.413a3.72 3.72 0 0 0 0 5.326.916.916 0 0 0 1.286-.005.894.894 0 0 0-.005-1.273z" />
</g>