<g fill-rule="evenodd">
	<path d="M4 0h5.158a2 2 0 0 1 1.422.593l2.842 2.872A2 2 0 0 1 14 4.87V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 2v12h8V4.871L9.158 2H4z" />
	<path stroke="#36474F" stroke-linecap="round" stroke-width="2" d="M6 5h3.001M6 8h4M6 11h4" />
</g>