<g fill-rule="evenodd">
	<path d="M2 0h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 2v12h12V2H2z" />
	<path d="M4 4h2v2H4zM4 6h2v2H4zM8 4h2v2H8zM8 8h2v2H8zM6 6h2v2H6zM10 6h2v2h-2zM10 8h2v2h-2zM6 8h2v2H6zM4 10h2v2H4zM6 10h2v2H6zM10 10h2v2h-2z" />
</g>