<g fill="none" fill-rule="evenodd">
	<path d="M7 1v14a1 1 0 1 1-2 0V3.414L2.707 5.707a1 1 0 0 1-1.414-1.414l4-4A1 1 0 0 1 7 1z" />
	<path fill="#AFB5B9" d="M9 15V1a1 1 0 0 1 2 0v11.586l2.293-2.293a1 1 0 0 1 1.414 1.414l-4 4A1 1 0 0 1 9 15z" />
</g>